*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-inner img {
    width: 100%;
    height: 90vh;
  }


  .about{
    width: 100%;
    height: 250 !important
  }

  .Container-fluid{
    display: flex;
    justify-content: center;
  }